APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost:8080
APP_NAME=Sauroraa Albums

DB_HOST=db
DB_PORT=3306
DB_NAME=sauroraa_album
DB_USER=sauroraa
DB_PASSWORD=change-me
DB_ROOT_PASSWORD=change-root-password

SESSION_COOKIE_NAME=sauroraa_album_session
MAX_UPLOAD_SIZE=15728640
ADMIN_BOOTSTRAP_EMAIL=admin@sauroraa.be
ADMIN_BOOTSTRAP_PASSWORD=password
